<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
  <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Hesap</Data></Cell>
        <Cell><Data ss:Type="String">Toplam</Data></Cell>
        <Cell><Data ss:Type="String">Tarih</Data></Cell>
      </Row>
      <% @orders.each do |order| %>
          <Row>
            <Cell><Data ss:Type="Number"><%= order.id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= order.account.try(:name) %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= order.total %></Data></Cell>
            <Cell><Data ss:Type="String"><%= l order.completed_at %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
