/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap-datepicker3
 *= require font-awesome
 *= require_self
 */

html, body {
    /* height: 100%; */
    background: #fafafa;
}
.container {
  overflow: scroll;
  padding-bottom: 50px;
  margin-top: 30px;
  background: white;
  margin-bottom: 100px;
  box-shadow: 0px 1px 5px 0px #adabab;
}
.mainContainer {
    overflow: hidden;
    display: block;
    height: 100%;
    background: #fafafa;
}

.footer {
    position: fixed;
    width: 100%;
    background: #fff;
    bottom: 0px;
    overflow: hidden;
}

.productArea {
    position: fixed;
    overflow: scroll;
    left: 0px;
    border-right: 1px solid #adabab;
    border-bottom: 1px solid #adabab;
    width: 75%;
    height: calc(100% - 50px);
    background-color: #fafafa;
}

#cartArea {
    position: relative;
    height: calc(100% - 10px);
    /*box-shadow: inset 0px 1px 10px 0px grey;*/
}

#cartArea h3 {
    margin: 10px;
}

#cartArea .scrollableArea {
    box-shadow: inset 0px 1px 5px 0px grey;
}

.cartContainer {
    position: fixed;
    right: 0px;
    width: 25%;
    min-width: 250px;
    background-color: #fff;
    height: calc(100% - 50px);
    /*background: #cacaca;*/
}

.scrollableArea {
    overflow-y: scroll;
    height: calc(100vh - 185px);
}

.f-s-16 {
    font-size: 16px;
}

.marB30 {
    margin-bottom: 30px;
}

.cartAction {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.cartTotal {
    font-family: monospace;
    display: block;
    overflow: hidden;
    /*margin-bottom: 10px;*/
    /*margin-top: 10px;*/
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    background: black;
    height: 44px;
    margin: 0px;
    padding: 10px;
    color: #00f300;
}

.btn-flat {
    border-radius: 0px !important;
}

.page-header {
    margin: 0px;
    margin-bottom: 15px;
}

.productList {

}
.productFooter {
    background: #e66d11;
    color: black;
    font-size: 16px;
}

.productList li {
    cursor: pointer;
    list-style: none;
    float: left;
    border: 1px solid #e66d11;
    width: 150px;
    height: 172px;
    background: #ffffff;
    margin: 15px;
}

.loader-big {
    background: rgba(32, 30, 30, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    display: none;

}

.load-content {
    position: absolute;
    top: 46%;
    left: 30%;
    width: 40%;
    border-radius: 4px;
    min-height: 50px;
    z-index: 99;
    padding: 0 10px;
}

.load-content svg {
    fill: white;
    stroke: white;
}

.clearfix {
    clear: both;
}

.page-header h1 {
    float: left;
}

.page-header .btn-primary {
    float: right;
    margin-top: 25px;
}
.handle {
    cursor: pointer;
}

#datetime {
    position: absolute;
    left: 70px;
    bottom: 0px;
    font-size: 10px;
}

#loaderMessage {
    font-size: 16px;
    color: white;
    font-weight: bold;
}