<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">


  <Styles>
    <Style ss:ID="Default" ss:Name="Normal">
      <Alignment ss:Vertical="Bottom"/>
      <Borders/>
      <Font ss:FontName="Calibri" x:CharSet="204" x:Family="Swiss" ss:Size="12"
      ss:Color="#000000"/>
      <Interior/>
      <NumberFormat/>
      <Protection/>
    </Style>
    <Style ss:ID="s62">
      <Interior ss:Color="#FCF305" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s63">
      <Font ss:FontName="Calibri" x:CharSet="204" x:Family="Swiss" ss:Size="12"
      ss:Color="#000000" ss:Bold="1"/>
    </Style>
    <Style ss:ID="s64">
      <NumberFormat ss:Format="#,##0.00\ &quot;TRY&quot;;[Red]-#,##0.00\ &quot;TRY&quot;"/>
    </Style>
    <Style ss:ID="s65">
      <NumberFormat ss:Format="Short Date"/>
    </Style>
  </Styles>

  <Worksheet ss:Name="Sheet1">
  <Table>
      <Row>
        <Cell ss:StyleID="s63"><Data ss:Type="String">Fiyat Listesi</Data></Cell>
      </Row>
      <Row>
        <Cell ss:StyleID="s63"><Data ss:Type="String">Ürün</Data></Cell>
        <Cell ss:StyleID="s63"><Data ss:Type="String">Fiyat</Data></Cell>
        <Cell ss:StyleID="s63"><Data ss:Type="String">Stok</Data></Cell>
      </Row>
      <% @products.each do |product| %>
          <Row>
            <Cell><Data ss:Type="String"><%= product.name %></Data></Cell>
            <Cell ss:StyleID="s64"><Data ss:Type="Number"><%= product.price.to_f %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= product.count_on_hand.to_i %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
